{% extends 'webclient/base.html' %}
{% load static %}

{% block extra_css%}
    <link rel="stylesheet" href="{% static '/assets/css/datatables.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
{% endblock %}

{% block nav_buttons %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'webclient:home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'webclient:start-gathering' %}">Toma de requerimientos</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'webclient:form-history' %}">Historial de Formularios</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="title-1">Nuevo Formulario</h1>
            <p>Desde aqui podrás comenzar una nueva toma de requerimientos </p>
            <p><a class="btn btn-flat btn-lg" href="{% url 'webclient:select-company' %}" role="button">Ir al formulario &raquo;</a></p>
        </div>
    </div>
    

    <div class="container">
        <!-- Example row of columns -->
        <!-- <div class="row"> -->
            <h1>Mis formularios</h1>
            <hr>
            <table class="table table-dark" id="form-table">
                <thead>
                    <tr>
                        <th scope="col">Compañia</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Acciones</th>
                        <!-- <th scope="col">Handle</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for form in object_list %}
                        <tr>
                            <td>{{form.company|default:"Sin compañia"}}</td>
                            <td>{{form.date}}</td>
                            <td>
                                <button class="btn btn-wrapper-white" data-form-id={{form.id}}>Detalle</button> 
                                <a href="/export/{{form.id}}/pdf/" class="btn btn-wrapper-white">Descargar</a>
                                <a href="/send_email/{{form.id}}/" class="btn btn-flat">Enviar correo</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        <!-- </div> -->

        <hr>

    </div> <!-- /container -->

    <!-- Modal -->
    <div class="modal fade" id="form-detail" tabindex="-1" role="dialog" aria-labelledby="form-detail" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" >Detalle del formulario</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="text-white" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table" id="detail-form">
                        <thead>
                            <tr>
                                <th scope="col">Categoría</th>
                                <th scope="col">Pregunta</th>
                                <th scope="col">Respuesta</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer download">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <a href="/export/{{form.id}}/pdf/" class="btn btn-flat">Descargar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js%}
    <script src="//cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script>
        $('.btn-detail').on('click', function(){
            form_id = $(this).data('form-id')
            $.ajax(
            {
                type: 'GET',
                headers: {'Api-Key': '{{ Api_Key}}'},
                url:"/api/gathering/form/"+form_id+"/detail",
                success:function(data)
                {
                    $('#detail-form tbody').empty()
                    $(data).each(function(k, v){
                        if (v.question.question_type == 'BO'){
                            if (v.value == 'on'){
                                value = '<i class="fas fa-check"></i>'
                            }
                            else{
                                value = '<i class="fas fa-times"></i>'
                            }
                        }
                        else {
                            value = v.value
                        }
                        $('#detail-form tbody').append(
                            `<tr>
                                <td>${v.question.category.name}</td>
                                <td>${v.question.context}</td>
                                <td>${value}</td>
                            </tr>`
                        )
                    })
                    $('.modal-footer').empty()
                    $('.modal-footer').append(
                        `<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>`+
                        `<a href="/export/${form_id}/pdf/" class="btn btn-flat">Descargar</a>`
                    )
                    
                },
                error:function(data)
                {
                    data = data.responseJSON
                    $.each(data, function(k, v)
                    {
                        toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": false,
                            "progressBar": false,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": true,
                            "onclick": null,
                            "showDuration": "1000",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                        toastr.error(v)
                    });
                    submitButton.removeClass('disabled')
                    submitButton.attr('disabled', false)
                }
            });
   
            $('#form-detail').modal('toggle')
        })
        $(document).ready( function () {
            $('#form-table').DataTable({
                language: {
                    "sProcessing":     "Procesando...",
                    "sLengthMenu":     "Mostrar _MENU_ registros",
                    "sZeroRecords":    "No se encontraron resultados",
                    "sEmptyTable":     "Ningún dato disponible en esta tabla",
                    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix":    "",
                    "sSearch":         "Buscar:",
                    "sUrl":            "",
                    "sInfoThousands":  ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst":    "Primero",
                        "sLast":     "Último",
                        "sNext":     "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            });
        } );
    </script>
{% endblock %}