{% extends 'webclient/base.html' %}
{% load static %}

{% block nav_buttons %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'webclient:home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'webclient:start-gathering' %}">Toma de requerimientos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'webclient:form-history' %}">Historial de Formularios</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    {% if request.user.is_anonymous %}
        <div class="jumbotron">
            <div class="container">
                <h1 class="title-2">Iniciar</h1>
                <h1 class="title-1">Sesión</h1>
                <p>Primero debes iniciar sesión antes de continuar</p>
                <button type="button" class="btn btn-flat" data-toggle="modal" data-target="#modal-login">
                    Iniciar Sesión
                </button>
            </div>
        </div>
        
    {% else %}
        <div class="jumbotron">
            <div class="container">
                <h1 class="title-2">Comenzar</h1>
                <h1 class="title-1">Formulario</h1>
                <p>Desde aqui podrás comenzar una nueva toma de requerimientos</p>
                <p><a class="btn btn-flat btn-lg" href="{% url 'webclient:select-company' %}" role="button">Ir al formulario &raquo;</a></p>
            </div>
        </div>
    {% endif %}
{% endblock %}