{% extends "webclient/base.html" %}

{% block nav_buttons %}
    <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'webclient:home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'webclient:start-gathering' %}">Toma de requerimientos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'webclient:form-history' %}">Historial de Formularios</a>
        </li>
    </ul>
{% endblock %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Recuperar Contraseña</h1>
    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
        {% if messages  %}
            {% for message in messages %}
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{message}}
            </div>
            {% endfor %}
        {% endif %}
        <form method="POST" action="{% url 'webclient:recover_password' %}" id="reset_password" class="form-horizontal">
            {% csrf_token %}
            <input type="hidden" name="email" value="{{user.email}}">
            <div class="form-group">
                <div class="col-xs-12">
                    <input type="password" class="form-control" name="password_confirmation" placeholder="Digita tu nueva contraseña"
                    data-validation="length" data-validation-length="min8" 
                    data-validation-error-msg="La contraseña debe contener al menos 8 caracteres">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <input type="password" class="form-control" name="password" data-validation="confirmation"
                    placeholder="Vuelve a digitar tu nueva contraseña"
                    data-validation-error-msg="Las contraseñas no coinciden">
                </div>
            </div>
            <div class="text-center">
                <input class="btn btn-primary" type="submit" value="Cambiar Contraseña"/>
            </div>
        </form>
</div>

{% endblock content %}

{% block extra_js%}



{% endblock %}